* {
  /* 모든 요소에 border적용됨 */
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #444;
  font-family: sans-serif;
  /* margin: 0; */

  /* 상속되지않는 속성(폰트관련 속성은 대부분 상속) */
  border-top: 10px solid #1098ad;
  position: relative;
}
/* *, body의 차이 : * 선택자는 모든 요소에 적용되며 상속이 존재하지않는다. / body 선택자는 어떤 스타일을 넣던지 상속된다. */

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  /* margin-bottom: 60px; */
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
  box-sizing: border-box;
}
h2 {
  position: relative;
}
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  color: #000;

  position: absolute;
  top: -15px;
  right: -25px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-title,
.sub-title {
  margin-bottom: 10px;
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block;
  color: white; */

  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  /* uppercase -> 대문자로 변경 */
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  /* 부모요소의 (좌우)가운데 위치 */
  text-align: center;
  margin-bottom: 30px;
}
p {
  font-size: 22px;
  /*높이가 글자의 1.5배가 됨 -> 커질수록 글자 위아래 간격 커짐 */
  line-height: 1.5;
  margin-bottom: 30px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
}
li:last-child {
  margin-bottom: 0;
}
/* .related-posts {
  width: 500px;
} */
/* footer p {
  font-size: 16px;
} */
/* 
article header p {
  font-style: italic;
} */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
  margin-left: 0;
}
.related li {
  margin-left: 0;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* 3숫자 대신 odd(홀수), even(짝수) 도 가능 -> 테이블에 적용하는 경우 많음*/
/* li:nth-child(odd) {
  color: red;
} */

/* 
nth요소의 오해 
article p:first-child 하면 article의 첫번째 p태그자식이 선택되어야할 것 같지만
잘못해석함
-> article의 첫번째 자식이 p태그가 아니기 때문에
*/
/* Misconception: this won't work! */
article p:first-child {
  color: red;
}

/* Styling links */

/* a태그 중 href있는 것들만 */
a:link {
  color: #1098ad;
  text-decoration: none;
}
/* 방문한 a태그 */
a:visited {
  /* color: #777; */
}
/*호버상태  */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
/* 클릭한 상태 */
a:active {
  background-color: black;
  font-style: italic;
}

/* 아래와 같은 결과 */
/* nav a:link,
nav p {
  font-size: 18px;
} */

nav {
  font-size: 18px;
}

button {
  width: 100px;
  height: 30px;
  font-size: 18px;
  color: white;
  border: 2px solid #116976;
  background-color: #1098ad;
  border-radius: 5px;

  position: absolute;
  bottom: 0;
  right: 0;
}

/* FLOATS */
/*
.author-img {
  float: left;
}

.author {
  padding-left: 20px;
  padding-top: 0px;
  float: left;
}
h1 {
  float: left;
}
nav {
  float: right;
}
.clear {
  clear: both;
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
article {
  width: 825px;
  float: left;
}
aside {
  width: 300px;
  float: right;
}
footer {
  clear: both;
}
*/
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  /* gap: 15px; */
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
}

.related li {
  margin-bottom: 30px;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

/* FLEXBOX LAYOUT */
/* .row {
  display: flex;
  gap: 75px;
  align-items: flex-start;
  margin-bottom: 60px;
}
article {
  flex: 0 0 825px;
  margin-bottom: 0;
}

aside {

  DEFAULT
  flex-grow : 0;
  flex-shrink : 1;
  flex-basis : auto;
  
  flex: 0 0 300px;
} */

/* CSS GRID LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}
.main-header {
  grid-column: 1/-1;
}
footer {
  grid-column: 1/-1;
}
